If:
  PathMatch: [src/.*, include/.*]

CompileFlags:
  Add: [
    -I../node_modules/nan,
    -I../vendor/libssh2/include,
    -I../vendor/libgit2/include,
    -I/home/johna/.cache/node-gyp/14.19.0/include/node,
    -I/home/johna/.cache/node-gyp/14.19.0/src,
    -I/home/johna/.cache/node-gyp/14.19.0/deps/openssl/config,
    -I/home/johna/.cache/node-gyp/14.19.0/deps/openssl/openssl/include,
    -I/home/johna/.cache/node-gyp/14.19.0/deps/uv/include,
    -I/home/johna/.cache/node-gyp/14.19.0/deps/zlib,
    -I/home/johna/.cache/node-gyp/14.19.0/deps/v8/include]