/node_modules/
/build/
/test/coverage/
/test/repos/
/test/test/
/src/
/include/
/lib/enums.js
/lib/nodegit.js
/coverage/


/vendor/Release
/vendor/Debug
/vendor/*.vcxproj
/vendor/*.filters
/vendor/*.sln

/generate/output
/generate/**/*.json
!/generate/input/*.json

/generate/missing-tests.json
/binding.gyp


*.log
.DS_STORE
.idea
