/build/
/coverage/
/include/
/lib/enums.js
/lib/nodegit.js
/node_modules/
/src/
/test/coverage/
/test/home/
/test/repos/
/test/test/

/generate/output
/generate/**/*.json
!/generate/input/*.json

/generate/missing-tests.json
/binding.gyp

# Generated vendor files
/vendor/openssl/
/vendor/libssh2/Makefile
/vendor/libssh2/config.status
/vendor/libssh2/docs/Makefile
/vendor/libssh2/example/.deps/
/vendor/libssh2/example/Makefile
/vendor/libssh2/example/libssh2_config.h
/vendor/libssh2/example/stamp-h2
/vendor/libssh2/libssh2.pc
/vendor/libssh2/libtool
/vendor/libssh2/src/.deps/
/vendor/libssh2/src/Makefile
/vendor/libssh2/src/libssh2_config.h
/vendor/libssh2/src/stamp-h1
/vendor/libssh2/tests/.deps/
/vendor/libssh2/tests/Makefile
/vendor/libssh2/tests/ossfuzz/.deps
/vendor/libssh2/tests/ossfuzz/Makefile

*.log
.DS_STORE
.idea
.clangd

.vscode
jsconfig.json

test/id_rsa
test/nodegit-test-rsa
