/node_modules/
/vendor/libgit2/
/build/
/coverage/
/test/repos/

/vendor/Release
/vendor/*.vcxproj
/vendor/*.filters
/vendor/*.sln

/generate/idefs.json
/binding.gyp

/src/*
!/src/functions/copy.cc
!/src/wrapper.cc

/include/*
!/include/functions/copy.h
!/include/wrapper.h

*.log
