/.travis/
/build/
/examples/
/generate/
/guides/
/lib/
/test/
/vendor/Release/

!/include
!/src

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

!binding.gyp

*.filters
*.log
*.md
*.sln
*.vcxproj
