/build/
/example/
/examples/
/test/
/vendor/Release/

/generate/output
/generate/**/*.json
!/generate/input/*.json

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml
.didntcomefromthenpmregistry

*.vcxproj
*.filters
*.sln
*.log
*.md
